@import "tailwindcss";

@theme {
  --color-cyber-dark: #0f172a;
  --color-cyber-panel: rgba(30, 41, 59, 0.7);
  --color-neon-green: #39ff14;
  --color-neon-red: #ff073a;
  --color-neon-blue: #00f3ff;
}

:root {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-cyber-dark);
  color: #f8fafc;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333333%);
  }
}
